/* CSS VARIABLES */
:root {
  --primary: #000000;
  --light: #f3f3f3;
  --gray: #686868;
  --red: #9d040b;
  --wooburn: #7a0309;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: url("../image/background/main_background.svg") center center
    no-repeat fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
  color: var(--light);
  filter: grayscale(10%);
}

.fond {
  display: none;
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  width: 90%;
}

.container_form,
.container_title {
  flex: 1;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 20px rgba(66, 66, 66, 0.75);
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 0px;
  text-align: center;
}

span.invalid_feedback {
  display: flex;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: -50px;
}

.title a {
  color: var(--light);
  text-decoration: none;
}

.title :visited {
  color: var(--light);
  text-decoration: none;
}

.container_form a {
  color: var(--light);
  text-decoration: none;
}
.message_Demo {
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

#username,
#password,
#confirmPassword,
#email,
.input {
  padding: 15px;
  font-size: 15px;
  border-width: 4px;
  border-color: var(--primary);
  background-color: 0px 0px 20px rgba(255, 255, 255, 0.75);
  color: var(--red);
  border-style: solid;
  border-radius: 22px;
  text-shadow: 0px 0px 5px rgba(243, 243, 243, 0.75);
  width: 80%;
  background: var(--light);
}

input[type="submit"] {
  background-color: var(--light);
  color: var(--red);
}

.input {
  width: 90%;
  cursor: pointer;
}

.input:focus {
  outline: none;
  border-style: none;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0;
  }

  .message_demo {
    display: none;
  }

  .container_title {
    padding: 25px;
    order: 1;
    box-shadow: none;
    border: none;
    background-color: none;
    padding: 0;
    margin: 0;
  }
  .container_form {
    padding: 25px;
    order: 2;
    margin-bottom: 15vh;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input#email {
    border-radius: 10px;
  }
  input#confirmPassword {
    border-radius: 20px;
  }

  h1 {
    margin-top: 15vh;
  }
}
